# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\리액트\1115\study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
